feBlend{
    background-color: rgb(92, 92, 231);
}
kbd{
    background-color: rgb(160, 115, 202);
}
g{
    background-color: rgb(36, 28, 28);
}
dd{
    background-color: rgb(221, 109, 109);
}