.card{
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 7%;
    background-image: url(c:/Users/admin/Pictures/download.jpg) ;
    font-size: xx-large;
    font-style: italic;
}